<h1>Thank you page</h1>
<div class="container">
  <ul>
    <li><%= @booking_request.status %></li>
    <li><%= @booking_request.location %></li>
    <li><%= @booking_request.date_from %></li>
  </ul>
</div>
<%= link_to 'Back to homepage', '/' %>

