 <div class="navbar navbar-transparent">
    <a class="left" href="#">
      <%= image_tag "rvnb_logo_white.png", alt: "rvnb_logo", width: 70, height: 70 %>
    </a>
    <div class="right">
      <%= link_to 'Sign up', new_user_registration_path %>
      <a href="">Help</a>
      <%= link_to 'Your Booking Requests', booking_requests_path %>
    </div>
</div>
