<% if current_page?(controller:"pages", action: "home") %>
<div class="navbar navbar-home">
  <%= link_to image_tag("rvnb_logo_white.png", alt: "rvnb_logo", width: 70, height: 70), root_path %>
<% else %>
<div class="navbar">
  <%= link_to image_tag("rvnb_logo_gray.png", alt: "rvnb_logo", width: 70, height: 70), root_path %>
<% end %>
  <div class="right">
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Your Booking Requests', booking_requests_path %>
    <a href="">Help</a>
  </div>
</div>
