 <div class="navbar navbar-transparent">
    <a class="left" href="#">
      <%= image_tag "rvnb_logo_white.png", alt: "rvnb_logo", width: 70, height: 70 %>
    </a>
    <div class="right">
      <a href="#">Help</a>
      <a href="#">Sign up</a>
      <a href="#">Sign in</a>
      <a href="#">Your RV</a>
    </div>

</div>
