<ul class="list-inline tabs-underlined">
  <li>
    <a href="<%= dashboard_path %>" class="tab-underlined<% if current_page?(controller:"pages", action: "dashboard") %> active<% end %>">Pending</a>
  </li>
  <li>
    <a href="<%= dashboard_previous_path %>" class="tab-underlined<% if current_page?(controller:"pages", action: "dashboard_previous") %> active<% end %>">Previous</a>
  </li>
</ul>
