<div class="banner">
  <div class="container">
    <h1>Are you ready for your next trip?</h1>
    <p>Find the perfect RV</p>


    <%= form_tag rvs_path, method: :get, id: 'search_form' do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find RVs next to you"
      %>
      <%= button_tag 'Search', class: 'btn btn-blue', id: 'search_button' %>
    <% end %>
  </div>
</div>
