.wrapper {
  margin: auto;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  border-radius: 4px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

a.btn-card {
  color: #EFE9E7;
  padding: 8px 24px;
  border-radius: 4px;
  background: #D34C50;
  transition: background 0.3s ease;
  position: absolute;
  right: 16px;
  top: -20px;
}

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px auto;
  width: 700px;
  border-radius: 4px;

}

.card-booking > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-booking .card-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-booking-infos .card-booking-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

a.btn-card-booking-accept {
  color: #EFE9E7;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  position: absolute;
  right: 16px;
  top: 10px;
  width: 100px;
  text-align: center;
}

a.btn-card-booking-decline {
  color: #EFE9E7;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  position: absolute;
  right: 16px;
  top: 60px;
  width: 100px;
  text-align: center;
}

#thank-card {
  background: #F0E8E7;
  height: 350px;
}

.thankyouRV {
  float: right;
  height: 100%;
  width: 50%;
}

.thankyouRV img {
  position: relative;
  object-fit: contain;
  height: 100%;
  float: right;
}
