.footer {
  background: #E2DFD5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  // position: relative;
  // bottom: -100px;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  font-family: Open Sans;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #FF5B60;
}
.footer .fa-heart {
  color: white;
}
.footer .fa-heart:hover {
  color: #FF5B60;
}

.global-wrapper{
  min-height: 100vh;
}
