.header1 {
  text-align : center;
  font-family: Helvetica Neue, sans-serif;
  text-color: #161925;
  font-weight: 20px;
}

.header2 {
  text-align : center;
}

ul {
  list-style-type: none;
  vertical-align: center;
}

p {
  text-align: center;
}

.pcard {

  text-align: left;
}

.datepicker {
  margin-top: 15px !important;
  text-align: center;
}
