.navbar {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: space-between;
  background: transparent;
}

.navbar:after {
  content: none;
}

.navbar:before {
  content: none;
}
.navbar a {
 text-decoration: none;
 color: #EFE9E7;
}

.navbar-transparent {
  background: transparent;
  box-shadow: 0 0 0 1px transparent;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px;
}

.left {
  padding: 20px;
}

.right {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  font-family: Open Sans;
}

.right a {
  margin: 20px;
}

